# Generierte Commit-Messages
commit_message*.txt

# API-Payloads und Responses
logs/


mixtral_commit_message.txt
mixtral_full_prompt.txt


# Editor- und OS-Dateien (optional Ergänzen nach Bedarf)
*.swp
*~
.DS_Store
