# Generierte Commit-Messages
commit_message*.txt

# API-Payloads und Responses
logs/

latest-Commit-MSG.txt
latest-Commit-MSG-mixtral.txt
latest-Commit-MSG-openai.txt


# Editor- und OS-Dateien (optional Ergänzen nach Bedarf)
*.swp
*~
.DS_Store
